@charset "ISO-8859-1";
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-sans-serif);
}
body {
  display: grid;
  grid-template-columns: min(270px) 8fr;
  width: 100%;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  background-color: var(--secondary);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: var(--info);
}

a {
  text-decoration: none;
}
ul,
ol,
dl,
li {
  list-style: none;
  padding-left: 0;
}
body > header {
  background: rgba(0, 0, 0, 0.05);
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 15px 10px;
}
body > header .content {
  width: 300px;
  /* background-color: burlywood; */
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: 18px;
  cursor: default;
  color: blue;
}
a:visited {
  color: inherit;
}
body > header .content .fas {
  margin-right: 5px;
}

.logo-container {
  font-size: 18px;
}
.logo-container .fas,
.logo-container span {
  font-size: 1.5em;
}

.fas.rotate {
  transform: rotate(-45deg);
}
.logo-container span {
  margin-left: 5px;
}

body > nav {
  font-size: 18px;
  background: rgba(0, 0, 0, 0.05);
  cursor: pointer;
  color: var(--blue);
}

.nav-link{
    line-height: 1.5rem;
    padding: 10px 20px;
    font-weight: 500px;
}
.nav-link i{
  margin-right: 10px;
}

.drop-nav-title i:last-child {
  float: right;
  transition: transform 1s ease;
}

.drop-nav {
  line-height: 1.5rem;
}
.drop-nav.drop .drop-nav-title i:last-child {
  transform: rotate(-90deg);
}
.drop-nav-title {
  padding: 10px 20px;
}
.drop-nav-title:not(.drop-nav:first-child .drop-nav-title) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.drop-nav-links {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s linear;
}

.drop-nav .fas:first-child {
  margin-right: 5px;
}

.drop-nav.drop .drop-nav-links {
  max-height: 70px;
}

.drop-nav-link {
  padding: 5px;
  padding-left: 20%;
}

.drop-nav-link.active,.nav-link.active {
  background-color: rgba(0, 0, 0, 0.1);
}

.drop-nav-title:hover,
.drop-nav-link:hover,.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

body > main {
  min-height: calc(100vh - 61px);
  padding: 40px 10px 0 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

body > main h1 {
  font-size: 32px;
}
body > main hr {
  margin: 10px 0;
}

.search-container form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  padding: 5px 0;
  gap: 15px;
}

body > aside {
  position: absolute;
  right: 0;
  top: 60px;
  width: 1px;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0.05);
}
body > footer {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  bottom: 0;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin-top: 10px;
  font-size: 18px;
}

.search-field {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
/* input[type="search"]:not(:focus, :active)::-webkit-search-cancel-button { 
  display: none; 
} */
.search-group {
  display: flex;

}

.search-field:has(input:focus),
.filter-field:has(select:hover) {
  box-shadow: 1px 1px 2px 2px rgba(0, 123, 255, 0.3);
}

.search-field .fas,
.filter-field label {
  padding: 5px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border: none;
}
.search-field i{
	display:flex;
	align-items:center;
}
.search-field input {
  font-size:15px;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 250px;
}
.search-field input:focus {
  outline: none;
}
.filter-field {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.filter-field select {
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
  width: 100px;
}
.search-container select{
	font-size:15px;
}
.select-text-overflow{
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}

select {
  appearance: none;
  background-color: transparent;
  background-image: url(http://cdn.onlinewebfonts.com/svg/img_424131.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 10px;
}
select:focus {
  outline: none;
}

.filter-submit {
  font-size:15px;
  padding: 5px 10px;
}

.date-filter {
	width:180px;
	display:flex;
	border:1px solid rgba(0,0,0,0.8);
	justify-content:center;
	align-items:center;	
	border-radius:3px;
}

.date-filter input{
	font-size:15px;
	border-radius:3px;
	padding: 5px 8px;
	width:100%;
	text-align:center;
	border:none;
	outline:none;
}
.date-filter:has(input:focus){
	box-shadow:1px 1px 5px 5px rgba(0,123,255,0.3);
}

.date-filter-field select {
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.date-filter-field select:hover{
  box-shadow: 1px 1px 2px 2px rgba(0, 123, 255, 0.3);
}
body > header .header-content button {
  padding: 5px;
}
table,
tr,
td {
  border: 1px solid #000;
}
thead {
  background-color: rgba(0, 0, 0, 0.2);
}

thead tr td {
  font-weight: 600;
}
thead tr td:last-child{
	text-align:center;
}

table td {
  padding: 5px;
}
tbody tr:nth-child(2n + 1) {
  background-color: rgba(0, 0, 0, 0.05);
}

td:has(.action-btn) {
  display:flex;
  justify-content: space-around;
  padding:5px 5px;
  gap: 10px;
  align-items: center;
  border: none;
}
.action-btn,.action-btn:visited{
	color:var(--primary)
}
td:has(.action-btn) i{
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.action-btn:not(.action-btn:first-child) {
  padding-left: 10px;
}
.action-btn i {
  padding-right: 5px;
}*/

.paging-tab {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  /* gap: 5px; */
}

.paging-tab .btn:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.paging-tab .btn:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

/* toast css */
@keyframes show-toast {
  10% {
    left: -260px;
    opacity: 1;
  }
  90% {
    left: -260px;
    opacity: 1;
  }
  95% {
    left: -280px;
    opacity: 1;
  }
}
.toast {
  position: relative;
  left: 0px;
  background-color: rgb(252, 252, 252);
  width: 250px;
  min-height: 100px;
  padding: 10px 20px;
  margin-bottom: 10px;
  opacity: 0;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
}
.toast.toast-show {
  animation-name: show-toast;
  animation-timing-function: ease-out;
  animation-duration: 5s;
}

.toast::before {
  content: "";
  width: 5px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.toast.primary::before {
  background-color: var(--primary);
}
.toast.success::before {
  background-color: var(--success);
}
.toast.warning::before {
  background-color: var(--warning);
}
.toast.error::before {
  background-color: var(--danger);
}
.toast-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-box {
  width: 300px;
  min-height: 150px;
  color: #f8f9fa;
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: all 0.5s ease-out;
  display: grid;
  grid-template-rows: min-content 2fr minmax(35px, 40px);
  box-shadow: 5px 5px 25px 5px rgb(121, 80, 80);
  border-radius: 5px;
  overflow: hidden;
}
.confirm-box .confirm-header {
  padding: 10px 5px;
  font-weight: 600;
  font-size: 1.25em;
  background-color: #6c757d;
}
.confirm-header i {
  color: var(--warning);
  padding-right: 10px;
  padding-left: 5px;
}
.confirm-box .confirm-message {
  max-width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  background-color: rgb(172, 168, 168);
  font-size: 1em;
}

.confirm-box .confirm-footer {
  display: flex;
  justify-content: end;
  gap: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: rgb(172, 168, 168);
}

.confirm-box.show {
  top: 80px;
}
body:has(.confirm-box.show):before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 990;
}
body:has(.confirm-box.show) .confirm-box ~ * {
  pointer-events: none;
}

/* btn style */

.btn {
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.btn i{
	margin-right:5px;
}
.btn.btn-m {
  padding: 5px 12px;
}

.btn.primary {
  background-color: var(--primary);
  color: #f8f9fa;
}
.btn.danger {
  background-color: var(--danger);
  color: #f8f9fa;
}
.btn.warning{
  background-color: var(--warning);
  color: #f8f9fa;
}

.btn.success{
  background-color: var(--success);
  color: #f8f9fa;
}

.btn.active {
  background-color: var(--blue);
  color: var(--light);
}
.btn:not(.btn.disabled):hover {
  outline-width: 3px;
  outline-style: solid;
  outline-offset: 1px;
  outline-color: rgba(0, 123, 255, 0.4);
}
.disabled{
	pointer-events:none;
}
.up-first{
	display:inline-block;
}
.up-first::first-letter{
	text-transform:uppercase;
}
/* btn style */

/* Access Denied*/
#flex{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
#flex h1{
	color:var(--danger);
	font-size:2em;
}
p #btn-back{
	cursor:pointer;
	text-decoration: underline;
}
/* Access Denied*/

/* Repository*/
.repo,i.fad,.fa-stream{
	display: none;
}

@media screen and (max-width:1024px){
	.repo,i.fad,.fa-stream{
		display: block;
	}
	div.content span{
		display:none
	}
	body>header .content{
		justify-content: flex-end;
	}
	body > nav{
		background-color:#f3f3f3;
		position: absolute;
		left:0;
		top:67.5px;
		height: 120%;
		max-width: 0;
		transition: max-width 1s ease-out;
		overflow: hidden;
		z-index:1000;
	}
	body > nav>ul{
		width:268px;
	}
	body > nav.active{
		max-width: 300px;
	}
	
	body>main {
		grid-column-start:1;
		grid-column-end:3;
	}
}



/* Repository*/
