/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	height: 100%;
}

.container-background {
	/* The image used */
	background-image: url("../images/login_img.jpg");
	/* Add the blur effect */
	filter: blur(4px);
	-webkit-filter: blur(4px);
	/* Full height */
	height: 100%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container-login {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.wrap-login {
	width: 460px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	text-align: center;
}

/*------------------------------------------------------------------
[  ]*/
.login-pic {
	width: 316px;
}

/*------------------------------------------------------------------
[  ]*/
.login-form {
	width: 90%;
}

.login-form-title {
	color: #333333;
	line-height: 1.2;
	text-align: center;
	width: 100%;
	display: block;
	padding-top:40px;
}

.symbol-input {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	position: absolute;
	border-radius: 25px;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-left: 35px;
	pointer-events: none;
	color: #666666;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.input {
	height: 50px !important;
}

@media (max-width: 768px) {
	.wrap-login {
		max-height: 460px;
	}

	.login-form {
		max-height: 460px;
	}
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: Poppins-Regular;
	src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
	font-family: Poppins-Bold;
	src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
	font-family: Poppins-Medium;
	src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
	font-family: Montserrat-Bold;
	src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #FFAD33;
}

/*---------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul,
li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: 1px solid #BDBDBD;
}



textarea {
	outline: none;
	border: none;
}

textarea:focus,


textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

textarea:focus:-moz-placeholder {
	color: transparent;
}

textarea:focus::-moz-placeholder {
	color: transparent;
}

textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input::-webkit-input-placeholder {
	color: #999999;
}

input:-moz-placeholder {
	color: #999999;
}

input::-moz-placeholder {
	color: #999999;
}

input:-ms-input-placeholder {
	color: #999999;
}

textarea::-webkit-input-placeholder {
	color: #999999;
}

textarea:-moz-placeholder {
	color: #999999;
}

textarea::-moz-placeholder {
	color: #999999;
}

textarea:-ms-input-placeholder {
	color: #999999;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*---------------------------------------------*/
.wrap-input {
	position: relative;
	width: 100%;
	z-index: 1;
	margin-bottom: 20px;
}

.input {
	line-height: 1.5;
	color: #666666;
	display: block;
	width: 100%;
	height: 34px;
	border-radius: 25px;
	padding: 0 30px 0 30px;


}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	-webkit-text-fill-color: #666666;
	transition: background-color 5000s ease-in-out 0s;
}

.input-icon input {
	padding-left: 60px;
}

.input-icon {
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	position: absolute;
	left: 30px;
	/* transform: translateY(60%); */

}

/*------------------------------------------------------------------
[ Button ]*/
.btn-primary {
	font-family: Montserrat-Bold;
	line-height: 1.5;
	color: #fff;
	text-transform: uppercase;
	border: none;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	background: #FFAD33;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 25px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.btn:hover {
	background: #FF9800;
}

.btn:focus {
	border: none;
	outline: none;
	box-shadow: none;
	background: #CC7A00;
}

.error {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	color: #EB3333;
	position: absolute;
	left: 30px;
	top: calc(100% + 2px);
}

.has-error,
.has-error:focus {
	border: 1px solid #EB3333 !important;
}

[aria-invalid='false']:focus {
	border: 1px solid #089740 !important;
}

[aria-invalid='true']:focus,
[aria-invalid='true'] {
	border: 1px solid #EB3333 !important;
}

.login-form-title {
	font-size: 30px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	padding-bottom: 40px;
}
.remember-input{
	font-size:15px;
	display:flex;
	margin-bottom:20px;
	margin-left:10px;
}
.remember-input > input[type='checkbox']{
	margin-right:10px;
}
